<label for="sort-by-select" aria-label="Sort By" class="visually-hidden">Sort By</label>
<div class="form__field--select">
  <select id="sort-by-select">
    <option value="">Sort By</option>
    <option value="manual">Featured</option>
    <option value="price-ascending">Price: Low to High</option>
    <option value="price-descending">Price: High to Low</option>
    <option value="title-ascending">A-Z</option>
    <option value="title-descending">Z-A</option>
    <option value="created-ascending">Oldest to Newest</option>
    <option value="created-descending">Newest to Oldest</option>
    <option value="best-selling">Best Selling</option>
  </select>
  {% include 'icon', handle: 'chevron-down' %}
</div>
