<div class="section section--reviews">
  <div class="container--slim">
    <div class="section__header">
      <h2 class="h1 center">Picky eaters say...</h2>
    </div>
    <div class="section__content">
      {% include 'judgeme_widgets', widget_type: 'judgeme_review_widget' %}
    </div>
  </div>
</div>
