<main class="content content--no-sidebar">
  <div class="container--slim">
    <div class="page-main row">
      <div class="column column--xs-12">
        <div class="page-header">
          <h1>Reset Password</h1>
        </div>
        <div class="page-content">
          <p>Enter a new password for <strong>{{ email }}</strong></p>
          {% form 'reset_customer_password' %}
            {{ form.errors | default_errors }}
            <div class="form__fieldrow" id="password">
              <label for="password">Password</label><br>
              <input type="password" value="" name="customer[password]" id="customer_password" size="30" />
            </div>
            <div class="form__fieldrow" id="password_confirm">
              <label for="password_confirmation">Password Confirmation</label><br>
              <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" size="30" />
            </div>
            <div class="form__actions" class="action_bottom">
              <input class="btn" type="submit" value="Reset Password" />
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</main>
