</div>
</div>
</div>
<div class="footer-top">
	<div class="enclose">
		<div class="footerlast last-batch">
					<h2>The Last Batch of<br> These Keto Cheese Puffs<br> Sold Out In 10 Days!</h2>
					<div class="last-butn">
						<a href="#">Check availability</a>
					</div>
				</div>
	</div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
