<h1>{{section.settings.selling-header}}</h1>
<h6>{{section.settings.selling-date}}</h6>

{% schema %}
  {
    "name": "Advertorial Top Headings",
    "settings": [
	{
   		"type": "text",
   		"id":"selling-header",
		"label":"Quickly header"
	},
      {
   		"type": "text",
   		"id":"selling-date",
		"label":"Selling Date"
	}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
