<div class="insta-sec">
	<div class="enclose">
		<h5>{{ section.settings.sub-heading }}</h5>
		<div class="insta-shots">
          {% for block in section.blocks %}
          	<div class="item"><img src="{{ block.settings.fea_img | img_url : 'master' }}" alt="image"></div>
          {% endfor %}
		</div>
		<div class="btns"><a href="#" class="buybtn big">{{ settings.sales-btn-text2 }} <img src="{{ 'icon-hand.png' | asset_url }}" alt="image"></a></div>		
	</div>
</div>


{% schema %}
  {
    "name": "Sales Instagram",
    "settings": [
  {
   	"type": "text",
  	"id":"sub-heading",
	"label":"Sub Heading"
  }
],
"blocks":[
{
"type":"Featured",
"name":"Featured",
"settings":[
{
"type":"image_picker",
"id":"fea_img",
"label":"Featured Image"
}
]
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
