<div class="customer-sec" id="reviews">
	<div class="enclose">
		<h5>{{ section.settings.sub_text }}</h5>
		<h2>{{ section.settings.heading }}</h2>
		<div class="customer-reviews">
          {% for block in section.blocks %}
          	<div class="item"><img src="{{ block.settings.rev_img | img_url : 'master' }}" alt="image"></div>
          {% endfor %}
		</div>
	</div>
</div>

{% schema %}
  {
    "name": "Sales Reviews",
    "settings": [
  {
   	"type": "text",
  	"id":"heading",
	"label":"Heading"
  },
  {
   	"type": "text",
  	"id":"sub_text",
	"label":"Sub Text"
  }
],
"blocks":[
{
"type":"Featured",
"name":"Featured",
"settings":[
{
"type":"image_picker",
"id":"rev_img",
"label":"Review Image"
}
]
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
